<p id="notice"><%= notice %></p>

<p>
  <strong>Start Date:</strong>
  <%= @event.date_start %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.date_end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
