%p#notice= notice
%h1 Listing Events
= month_calendar previous_link: semantic_previous_link, next_link: semantic_next_link, table: {class: "ui calendar table"}, events: @events do |date, events|
  = date.mday
  %br
  - events.each do |event|
    = event.name
-# %table.ui.table
  %thead
    %tr
      %th Start Date
      %th End Date
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @events.each do |event|
      %tr
        %td= event.date_start
        %td= event.date_end
        %td= event.name
%br/
