!!!
%html
  %head
    %title GregoryMuseum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.page.grid
      .row
        .column.padding-reset
          = render 'shared/navbar'
      .row
        .column.padding-reset
          = render 'shared/alerts'
          = yield
      .row
        .column.padding-reset
          = render 'shared/footer'
