!!!
%html
  %head
    %title GregoryMuseum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.page.grid
      - flash.each do |key, value|
        %div{:class => "#{flash_class(key)} closable"}
          %i.close.icon
          = value
      = render 'shared/navbar'
      .row
        .column.padding-reset
          = yield
